
html, body {
   margin: 0%;
   overflow: hidden;
}


.fondo {
position: relative;
width: 100vw;
height: 100vh;
background: url(../img/campuslands-jovenes.jpg);
background-size: cover;
}
.numero1 img{
   position: relative;
   width: 10vw;
   height: 10vh;
   top: 1100px;
   left: 900px;
}
