
img{
    border-radius: 50%;
    image-orientation:left;
    border: 5px solid black;
     }
body{
    background-color: rgb(235, 211, 211);
    border: 5px solid black;
    font-family: Arial, sans-serif;
     
}    
.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5e1e1;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    width: 300px;
    text-align: center;
   
} 
.estudios{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5e1e1;
    padding: 120px;
    border: 3px solid black;
    border-radius: 10px;
    height: 250px;
    justify-content: flex-start;
    gap: 20px;
    flex-grow: 1; 
    text-align: left;
    padding-left: 50px;
    position: relative;
    top: -630px;
    left: 350px;
}
.habilidades{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5e1e1;
    padding: 120px;
    border: 3px solid black;
    border-radius: 10px;
    height: 750px;
    justify-content: flex-start;
    gap: 80px;
    flex-grow: 1; 
    text-align: left;
    padding-left: 50px;
    position: relative;
    top: -625px;
    left: 350px;
}
.proyectos{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5e1e1;
    padding: 80px;
    border: 3px solid black;
    border-radius: 10px;
    height: 1330px;
    justify-content: flex-start;
    gap: 80px;
    flex-grow: 1; 
    text-align: left;
    padding-left: 50px;
    position: relative;
    top: -2120px;
    left: 1020px;
}