@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

a {
    text-decoration: none; /* Quita la línea subrayada */
    color: inherit; /* Mantiene el color del texto original */
}


body {
    width: 1920px;
    height: 1080px;
    background-image: linear-gradient(#FFFFFF,#E6E6E6, #808080);
    display: grid;
    font-family: 'Open Sans', sans-serif;
}

.tarjetaMetro {
    position: relative;
    width: 1400px;
    height: 800px;
    background-color: white;
    border: 2px solid #707070;
    place-self: center;
    }

.barraDerechaNegra {
    position: absolute;
    width: 110px;
    height: 800px;
    top: 0;
    right: 0;
    background-color: #212020;
    border-left: 2px solid #707070;
}

.logoMetrolinea {
    position: absolute;
    width: 196px;
    height: 44px;
    left: 43px;
    top: 43px;
}

.cuadroverde {
    position: absolute;
    width: 160px;
    height: 114px;
    background-color: #d5ff43;
    top: 647px;
    right: 160px;
    border-radius: 8px;
}

.logoCuadro {
    position: absolute;
    width: 129px;
    height: 29px;
    top: 676px;
    right: 176px;
}

.tarjetaMetrolinea {
    position: absolute;
    width: 884px;
    height: 497px;
    top: 122px;
    left: 127px;
}

.carrito {
    position: absolute;
    width: 33px;
    height: 32px;
    top: 51.75px;
    right: 143.33px;
}

.search {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 55.75px;
    right: 249.3px;
}
.flechabajo{
   position: absolute;
   width: 20px;
   height: 144px;
   top: 647px;
   right: 50px ;

}
.flecharriba{
 position: absolute;
 width: 20px;
 height: 32px;
 top: 51.75px;
 right: 54px;
}
.Tarjetacompra{
position: absolute;
height: 32px;
top: .75px;
right: 549.3px;
color: #212020;
font-size: 25;
font-family: "wiwi";

}
.VerSaldo{
position: absolute;
width: 60px;
height: 32px;
top: -10.75px;
right: 450.3px;
color: #212020;
font-size: 20;
}
.cantidad{
    position: absolute;
    
    height: 32px;
    top: 90.75px;
    right: 15.33px;
    color: #E6E6E6;
    font-size: 9;
}
.numero1{
    position: absolute;
    width: 200px;
    height: 32px;
    top: 250.75px;
    right: -93.33px;
    color: #818181;
    font-size: 10;
}
.numero2{
    position: absolute;
    width: 200px;
    height: 32px;
    top: 350.75px;
    right: -128.33px;
    font-size: 10;
    color: #E6E6E6;
}
.numero3{
    position: absolute;
    width: 200px;
    height: 32px;
    top: 455.75px;
    right: -128.33px;
    color: #8a8a8a;
    font-size: 10;
}
.Comprar{
    position: absolute;
    width: 230px;
    height: 29px;
    top: 656px;
    right: 76px;
    font-size: 20;
}
.text{
    top: 566px; ;
    font-size:20 ;
    position: absolute;

}
.saldito{
   top: 657px;
   font-size:20 ;
   position: absolute;
   left: 00px;

}
.linea2{
    position: absolute;
    width: 60px;
     height: 32px;
    top: 80.75px;
    right: 640.3px;
}