body {
    background-color: black;
    margin: 0;  
    width: 1918px;
    height: 4149px;
}

@font-face {
    font-family: 'Amazon Ember';
    src: url('./fuentes/AmazonEmber_Lt.ttf') format('truetype'); /* Light */
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'Amazon Ember';
    src: url('./fuentes/AmazonEmber_Bd.ttf') format('truetype'); /* Bold (Gold) */
    font-weight: 700;
    font-style: normal;
}
  

.fondoTwitch {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: auto; 
    z-index: -1; 
}

.logoPrime {
    display: block; 
    margin: 150px auto; 
    top: 227px;
    left: 682px;
    width: 556px;
    height: 313px;
}

h1 {
    font-family: 'Amazon Ember', sans-serif; /* Tipografía Amazon Ember */
    font-weight: bold; /* Definir grosor de fuente */
    font-size: 60px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    line-height: 72px; /* Altura de línea */
    color: #ffffff; /* Color del texto (en hexadecimal) */
    opacity: 1; /* Opacidad al 100% */
    position: absolute; /* Posicionamiento */
    top: 387px; /* Distancia desde la parte superior */
    left: 380px; /* Distancia desde la parte izquierda */
    width: 1151px; /* Ancho del elemento */
    height: 60px; /* Altura del elemento */
}       

.descripcion {
    font-family: 'Amazon Ember', sans-serif; /* Tipografía Amazon Ember */
    font-weight: normal; /* Definir grosor de fuente */
    font-size: 30px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    line-height: 36px; /* Altura de línea */
    color: #ffffff; /* Color del texto (en hexadecimal) */
    opacity: 1; /* Opacidad al 100% */
    position: absolute; /* Posicionamiento */
    top: 488px;
    left: 380px;
    width: 1160px;
    height: 102px;
}

.buscador {
    position: absolute;
    top: 37px;
    left: 63px;
    width: 36px;
    height: 36px;
}

.login {
    position: absolute;
    top: 30px;
    left: 1685px;
    width: 205px;
    height: 54px;
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: 2px solid #ccc; /* Borde gris claro */
    border-radius: 25px; /* Bordes redondeados */
    font-size: 20px; /* Tamaño del texto */
    font-family: 'Amazon Ember', sans-serif; /* Fuente del texto */
    cursor: pointer; /* Cambia el puntero a mano al pasar */
    text-align: center; /* Centra el texto */
}

.registro {
    position: absolute;
    top: 635px;
    left: 730px;
    width: 458px;
    height: 104px;
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: 2px solid #ccc; /* Borde gris claro */
    border-radius: 52px; /* Bordes redondeados */
    font-size: 40px; /* Tamaño del texto */
    font-family: 'Amazon Ember', sans-serif; /* Fuente del texto */
    cursor: pointer; /* Cambia el puntero a mano al pasar */
    text-align: center; /* Centra el texto */
}

.primeraCaja {
    position: absolute;
    top: 1106px;
left: 64px;
width: 1792px;
height: 567px;
}

.segundaCaja {
    position: absolute;
    top: 1717px;
    left: 64px;
    width: 1792px;
    height: 724px;
    background-color: #00A8E1;
    border-radius: 108px;
}

.textoUnoCajaDos {
    position: absolute;
    top: 16px;
    left: 71px;
    width: 1664px;
    height: 60px;   
    font-family: 'Amazon Ember', sans-serif; /* Tipografía Amazon Ember */
    font-weight: bold; /* Definir grosor de fuente */
    font-size: 60px; /* Tamaño de la fuente */
    text-align: left; /* Alineación del texto */
    line-height: 36px; /* Altura de línea */
    color: #ffffff; /* Color del texto (en hexadecimal) */
}

.peliculaUno {
    position: absolute;
    top: 179px;
    left: 413px;
    width: 181px;
    height: 309px;
    border: 1px solid gray;
}

.peliculaDos {
    position: absolute;
    top: 179px;
    left: 606px;
    width: 181px;
    height: 309px;
    border: 1px solid gray;
}

.peliculaTres {
    position: absolute;
    top: 179px;
    left: 799px;
    width: 181px;
    height: 309px;
    border: 1px solid gray;
}

.peliculaCuatro {
    position: absolute;
    top: 179px;
    left: 991px;
    width: 181px;
    height: 309px;
    border: 1px solid gray;
}

.peliculaCinco {
    position: absolute;
    top: 179px;
    left: 1184px;
    width: 181px;
    height: 309px;
    border: 1px solid gray;
}

.textoDosCajaDos {
    position: absolute;
    width: 1492px;
    height: 110px;
    top: 510px;
    left: 143px;
    font-family: 'Amazon Ember', sans-serif; /* Tipografía Amazon Ember */
    font-weight: normal; /* Definir grosor de fuente */
    font-size: 50px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    line-height: 60px; /* Altura de línea */
    color: #ffffff; /* Color del texto (en hexadecimal) */
}

.terceraCaja {
    position: absolute;
    top: 2467px;
    left: 64px;
    width: 1792px;
    height: 567px;
    background-color: #00A8E1;
    border-radius: 108px;
}
.textoUnoCajaTres {
    position: absolute;
    width: 800px;
    height: 60px;
    top: 39px;
    left: 496px;
    font-family: 'Amazon Ember', sans-serif; /* Tipografía Amazon Ember */
    font-weight: bold; /* Definir grosor de fuente */
    font-size: 60px; /* Tamaño de la fuente */
    text-align: left; /* Alineación del texto */
    line-height: 36px; /* Altura de línea */
    color: #ffffff; /* Color del texto (en hexadecimal) */
}

.cancel {
    position: absolute;
    top: 193px;
    left: 811px;
    width: 169px;
    height: 169px;
}

.textoDosCajaTres {
    position: absolute;
    top: 364px;
    left: 205px;
    width: 1382px;
    height: 88px;
    font-family: 'Amazon Ember', sans-serif; /* Tipografía Amazon Ember */
    font-weight: normal; /* Definir grosor de fuente */
    font-size: 40px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    line-height: 48px; /* Altura de línea */
    color: #ffffff; /* Color del texto (en hexadecimal) */
}

.dispositivos {
    position: absolute;
    top: 3027px;
    left: 418px;
    width: 1118px;
    height: 125px;
    font-family: 'Amazon Ember', sans-serif; /* Tipografía Amazon Ember */
    font-weight: normal; /* Definir grosor de fuente */
    font-size: 125px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    line-height: 150px; /* Altura de línea */
    color: #ffffff; /* Color del texto (en hexadecimal) */
}

.textoDispositivos {
    position: absolute;
    top: 3296px;
    left: 181px;
    width: 1544px;
    height: 99px;
    font-family: 'Amazon Ember', sans-serif; /* Tipografía Amazon Ember */
    font-weight: normal; /* Definir grosor de fuente */
    font-size: 45px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    line-height: 54px; /* Altura de línea */
    color: #ffffff; /* Color del texto (en hexadecimal) */  
}

.mac {
    position: absolute;
    top: 3540px;
    left: 685px;
    width: 584px;
    height: 534px;
}

.iphone {
    position: absolute;
    top: 3706px;
    left: 386px;
    width: 256px;
    height: 219px;
}

.PC {
    position: absolute;
    top: 3687px;
    left: 1261px;
    width: 271px;
    height: 238px;
}

.flechaderecha {
    position: absolute;
    top: 3787px;
    left: 1561px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent; /* Triángulo superior invisible */
    border-bottom: 10px solid transparent; /* Triángulo inferior invisible */
    border-left: 15px solid white; /* Triángulo apuntando hacia la derecha */
  }

.flechaizquierda {
    position: absolute;
    top: 3787px;
    left: 341px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid white; /* Triángulo apuntando a la izquierda */
}

.terminos {
    position: absolute;
    top: 4249px;
    left: 573px;
    width: 831px;
    height: 25px;
}